<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <title>@ViewData["Title"] - Mountain Mental Health</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="~/css/header.css" />
        <link rel="stylesheet" type="text/css" href="~/css/globalStyle.css" />
        @RenderSection("Styles", required: false)

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet"> 

        <!-- JS -->  
        <script type="text/javascript" src="https://kit.fontawesome.com/a076d05399.js" defer></script>
    </head>
    <body>
        <nav id="headerWrapper">
            <div id="menuContainer">
                <div class="row">
                    <a href="/">
                        <img id="logoImg" src="~/assets/img/MMH_Logo.jpg" alt="MtnMentalHealth_Logo" />
                    </a>
                    <ul id="leftMenu" class="menu">
                        <li class="headerItem"><a href="/" class="headerLinks">Home</a></li>
                        <li class="headerItem"><a href="/home/services" class="headerLinks">Services</a></li>
                        <li class="headerItem"><a href="/home/team" class="headerLinks">Our Team</a></li>
                        <li class="headerItem"><a href="/home/patientCenter" class="headerLinks">Patient Center</a></li>
                        <li class="headerItem"><a href="/home/contact" class="headerLinks">Contact Us</a></li>
                    </ul>

                    <ul id="rightMenu" class="menu">
                        <li class="headerItem rightHeaderItem">(801) 111-1111</li>
                        <li class="headerItem rightHeaderItem">Mon - Fri: 8:00AM - 5:00PM</li>
                        <li class="headerItem rightHeaderItem">info@MtnMentalHealth.com</li>
                    </ul>
                </div>
            </div>
        </nav>

        @RenderBody()

        @RenderSection("Scripts", required: false)
    </body>
</html>