@inherits LayoutComponentBase

<nav id="headerWrapper" class="row">
	<div class="col logoWrapper">
		<a href="/">
			<img class="logoImg" src="assets/img/MMH_Logo.jpg" alt="MtnMentalHealth_Logo" />
		</a>
	</div>
	<div id="menuWrapper" class="col">
		<div id="contactWrapper" class="row">
			<div class="contactInfo">
				<img src="assets/icons/phone-solid.svg" alt="phone-icon" class="iconImg" />
				<a href="tel:385-200-0285" class="contactLinks">(385) 449-9990</a>
			</div>
			<div class="contactInfo">
				<img src="assets/icons/envelope-solid.svg" alt="email-icon" class="iconImg" />
				<a href="mailto:facts@mtnmentalhealth.com" class="contactLinks">fax@mtnmentalhealth.com</a>
			</div>
			<div class="contactInfo">
				<img src="assets/icons/clock-solid.svg" alt="clock-icon" class="iconImg" />
				<span>Mon - Fri: 8:00AM - 5:00PM</span>
			</div>
		</div>
		<div id="linkWrapper" class="row @active">
			<a href="/" class="headerLinks" @onclick="OnHeaderLinkClick">Home</a>
			<a href="/services" class="headerLinks" id="servicesLink" @onclick="OnHeaderLinkClick">Services</a>
			<div id="servicesDropDownWrapper">
				<a href="/services#medicationManagement">Medication Management</a>
				<a href="/services#ketamineTherapy">Ketamine Therapy</a>
				<a href="/services#telehealth">Telehealth</a>
			</div>
			<a href="/team" class="headerLinks" @onclick="OnHeaderLinkClick">Our Team</a>
			<a href="/contact" class="headerLinks" @onclick="OnHeaderLinkClick">Contact Us</a>
		</div>
	</div>
	<div id="hamburger" class="@active" @onclick="ToggleActive">
		<span class="hamburgerBar"></span>
		<span class="hamburgerBar"></span>
		<span class="hamburgerBar"></span>
	</div>
</nav>

@Body

<div id="footerWrapper" class="row">
	<div class="logoWrapper col footerContentWrapper">
		<div class="row">
			<a href="/">
				<img id="footerLogo" class="logoImg" src="assets/img/MMH_Logo.jpg" alt="MtnMentalHealth_Logo" />
			</a>
		</div>
		
		<div class="row">
			<a href="/privacy">Privacy Policy</a>
		</div>
		
		<div class="row">
			<a href="/termsandconditions">Terms of Service</a>
		</div>
	</div>

	<div id="contact" class="col footerContentWrapper">
		<div class="row footerContent footerContentTitle">
			CONTACT
		</div>
		<div class="row footerContent">
			(385) 449-9990
		</div>
		<div class="row footerContent">
			HOURS OF OPERATION <br>
			MON-FRI: 8:00AM - 5:00PM
		</div>
	</div>

	<div id="socialMedia" class="col footerContentWrapper">
		<div class="row footerContent footerContentTitle">
			FOLLOW US
		</div>
		<div class="row footerContent">
			<div class="col socialIconWrapper">
				<a href="https://www.instagram.com/mountainmentalhealthut?igsh=OWZ6aDVzd3A3a3J3">
					<img src="assets/icons/insta-icon.webp" alt="instagram-icon" class="socialIcon" />
				</a>
			</div>
			<div class="col socialIconWrapper">
				<a href="https://www.facebook.com/profile.php?id=61561377136040&mibextid=LQQJ4d">
					<img src="assets/icons/facebook-icon.jpg" alt="facebook-icon" class="socialIcon" />
				</a>
			</div>
		</div>
	</div>
</div>

@code
{
	// represents the 'active' class dealing with the hamburger menu
	private string active { get; set; } = string.Empty;

	void ToggleActive()
	{
		active = string.IsNullOrEmpty(active) ? "active" : string.Empty;
	}

	void OnHeaderLinkClick()
	{
		if(!string.IsNullOrEmpty(active))
		{
			ToggleActive();
		}
	}
}