@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/contact.css" />
}
@section Scripts {
    <script type="text/javascript" src="~/js/contact.js"></script>
}

<div id="openStatementWrapper">
    <h1>Contact Us</h1>
</div>

<div id="contactBody">
    <h2 class="subTitle">Office Locations</h2>
    <p><span class="contactMethods">Address: </span> 4516 South 700 East Suite 370 Murray, UT 84107</p>
    <p id="addressInstruction">If using Google maps please type in the entire address, including suite number.</p>
    <hr>
    <p><span class="contactMethods">For General Questions: </span> fax@MtnMentalHealth.com</p>
    <p><span class="contactMethods">For Prescriptions: </span>info to come!</p>
    <p>Please note, although we aim to respond as soon as possible - these are not emergency phone numbers.</p>
    <p><span class="contactMethods">Direct Line: </span>(385) 449-9990, (385) 200-0285</p>
    <p><span class="contactMethods">Fax: </span> (385) 449-9998</p>
</div>

<div class="gallery col">
    <div class="main-image">
        <img src="~/assets/img/contact/office1.jpg" alt="main-image">
    </div>
    <h2>Photo Gallery</h2>
    <div class="thumbnails row">
        <div class="thumbnail">
            <img src="~/assets/img/contact/office1.jpg" alt="thumbnail 1">
        </div>
        <div class="thumbnail">
            <img src="~/assets/img/contact/office2.jpg" alt="thumbnail 2">
        </div>
        <div class="thumbnail">
            <img src="~/assets/img/contact/office3.jpg" alt="thumbnail 3">
        </div>
        <div class="thumbnail">
            <img src="~/assets/img/contact/office4.jpg" alt="thumbnail 4">
        </div>
        <div class="thumbnail">
            <img src="~/assets/img/contact/office5.jpg" alt="thumbnail 5">
        </div>
        <div class="thumbnail">
            <img src="~/assets/img/contact/office6.jpg" alt="thumbnail 6">
        </div>
        <div class="thumbnail">
            <img src="~/assets/img/contact/office7.jpg" alt="thumbnail 7">
        </div>
        <div class="thumbnail">
            <img src="~/assets/img/contact/office8.jpg" alt="thumbnail 8">
        </div>
    </div>
</div>