@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/contact.css" />
}

<div id="openStatementWrapper">
    <h1>Contact Us</h1>
</div>

<div id="contactBody">
    <h2 class="subTitle">Office Locations</h2>
    <p><span class="contactMethods">For General Questions: </span> info@MtnMentalHealth.com</p>
    <p><span class="contactMethods">For Prescriptions: </span>info to come!</p>
    <p>Please note, although we aim to respond as soon as possible - these are not emergency email addresses.</p>
    <p><span class="contactMethods">Phone: </span>(801) 111-1111</p>
    <p><span class="contactMethods">Fax: </span>(801) 111-1112</p>
</div>
