@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/contact.css" />
}

<div id="openStatementWrapper">
    <h1>Contact Us</h1>
</div>

<div id="contactBody">
    <h2 class="subTitle">Office Locations</h2>
    <p><span class="contactMethods">Address: </span> 4516 South 700 East Suite 370 Murray, UT 84107</p>
    <hr>
    <p><span class="contactMethods">For General Questions: </span> info@MtnMentalHealth.com</p>
    <p><span class="contactMethods">For Prescriptions: </span>info to come!</p>
    <p>Please note, although we aim to respond as soon as possible - these are not emergency email addresses.</p>
    <p><span class="contactMethods">Direct Line: </span>(385) 449-9990</p>
    <p><span class="contactMethods">Fax Line: </span>(385) 449-9994</p>
</div>
