@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/home.css" />
}

<div id="openStatementWrapper">
    <h1 id="homeCatchPhrase">Elevate Your Wellness</h1>
</div>

<div id="infoWrapper" class="col">
    <div class="row infoSubWrapper">
        <div class="col">
            <h2 class="infoTitle subTitle">What is Mountain Mental Health?</h2><br />
            <p class="infoParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec purus cursus, venenatis metus malesuada, vestibulum ante. Quisque tincidunt magna at auctor elementum. Vestibulum eu purus aliquam, mattis ante quis, varius nisl. In metus leo, pharetra sit amet libero vel, vestibulum consequat dolor. Duis facilisis enim eget diam pellentesque, in pellentesque tortor commodo. Suspendisse potenti. Maecenas nec ligula augue. Quisque maximus sapien ac tellus vestibulum, vel vulputate purus auctor.</p>
        </div>
        <div class="col">
            <img src="~/assets/img/old_man_with_ball.jpg" alt="man_with_ball" class="infoImages" />
        </div>
    </div>

    <div class="row infoSubWrapper">
        <div class="col">
            <img src="~/assets/img/pottery_couple.jpg" alt="woman_making_pots" class="infoImages" />
        </div>
        <div class="col">
            <h2 class="infoTitle subTitle">What Mental Health Services Do We Provide?</h2><br />
            <p class="infoParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec purus cursus, venenatis metus malesuada, vestibulum ante. Quisque tincidunt magna at auctor elementum. Vestibulum eu purus aliquam, mattis ante quis, varius nisl. In metus leo, pharetra sit amet libero vel, vestibulum consequat dolor. Duis facilisis enim eget diam pellentesque, in pellentesque tortor commodo. Suspendisse potenti. Maecenas nec ligula augue. Quisque maximus sapien ac tellus vestibulum, vel vulputate purus auctor.</p>
        </div>
    </div>

    <div class="row infoSubWrapper">
        <div class="col">
            <h2 class="infoTitle subTitle">Virtual Appointments</h2><br />
            <p class="infoParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec purus cursus, venenatis metus malesuada, vestibulum ante. Quisque tincidunt magna at auctor elementum. Vestibulum eu purus aliquam, mattis ante quis, varius nisl. In metus leo, pharetra sit amet libero vel, vestibulum consequat dolor. Duis facilisis enim eget diam pellentesque, in pellentesque tortor commodo. Suspendisse potenti. Maecenas nec ligula augue. Quisque maximus sapien ac tellus vestibulum, vel vulputate purus auctor.</p>
        </div>
        <div class="col">
            <img src="~/assets/img/telehealth.jpg" alt="telehealth_appointment" class="infoImages" />
        </div>
    </div>
</div>
