@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/home.css" />
}

<div id="openStatementWrapper"></div>

<div id="banner" class="row">
    <div class="col">--</div>
    <div class="col">
        Now accepting new patients, please call to set up an appointment.
    </div>
    <div class="col">--</div>
</div>
<h1 id="homeCatchPhrase">Elevate Your Wellness</h1>
<div id="infoWrapper" class="col">
    <div class="row infoSubWrapper">
        <div class="col">
            <h2 class="infoTitle subTitle">About Us</h2><br />
            <p class="infoParagraph">Mountain Mental Health is an outpatient clinic serving the community by treating a wide range of mental health disorders, from mild to complex in nature. We view each person as an individual and create a plan that is unique to you and your distinct struggles. We believe that anyone who takes the path to Wellness deserves to have a voice and to be treated with respect and empowerment.</p>
            <p class="infoParagraph">We strive to provide the best care for you, and will work closely with you, your family, and other providers or therapists to help find a successful path of treatment.</p>
            <p class="infoParagraph">Our Vision is to provide quality healthcare to those struggling with their mental health.</p>
        </div>
        @* Need to center the image along the infosubwrapper *@
        <div class="col imgWrapper">
            <img src="~/assets/img/sunny_trees.jpg" alt="sunshine shining through a grove of trees" class="infoImages" />
        </div>
    </div>
@*  *@
    <div class="row infoSubWrapper">
        <div class="col">
            <h2 class="infoTitle subTitle">Elevate Your Wellness: The Importance of Mental Health Treatment</h2><br />
            <p class="infoParagraph">At Mountain Mental Health, we know mental health is crucial to your overall well-being, and just as important as physical or spiritual health. We offer psychiatry services for those facing significant mental health challenges. A psychiatrist can help by assessing your symptoms and making treatment recommendations to support you.</p>
            <p class=infoParagraph>We know that seeking help for mental health issues can feel like a big step, but our goal is to make it as seamless as possible. We offer psychiatric care for various challenges, including depression, anxiety, eating disorders, attention deficit hyperactivity disorder (ADHD), obsessive compulsive disorder (OCD), trauma (including PTSD), substance use disorder, and bipolar disorder.</p>
            Our psychiatry services may be right for you if you:
            <ul>
                <li>Are struggling to cope with daily life</li>
                <li>Have mood swings or poor impulse control</li>
                <li>Are prone to sadness, hopelessness, or worry</li>
                <li>Have traumatic experiences that are impacting your everday life</li>
                <li>Numb emotional pain with substances or harmful activities</li>
                <li>Have anger management issues that cause relationship problems</li>
                <li>Have thoughts of suicide</li>
            </ul>
            <p class="infoParagraph">In the event of an emergency, it’s crucial to seek help as soon as possible. The National Suicide Prevention Lifeline, also known as the 988 Suicide & Crisis Lifeline, is available 24/7 to provide support and resources.</p>
            <p class="infoParagraph"><strong>You can access this service by dialing <a href="tel:988">988</a> or by calling <a href="tel:1-800-273-8255">1-800-273-8255</a></strong>.</p>
            <p class="infoParagraph">In the case of immediate danger to yourself or others, calling <a href="tel:911">911</a> should be your first course of action.</p>
            <p class="infoParagraph">We are here to support you with your mental health.</p>
        </div>
        <div class="col imgWrapper">
            <img src="~/assets/img/sunny_reeds.jpg" alt="Sunset at a lake looking through reeds" class="infoImages" />
        </div>
    </div>
@*  *@
    <div class="row infoSubWrapper">
        <div class="col">
            <h2 class="infoTitle subTitle">Services offered by Mountain Mental Health</h2><br />
            <p class="infoParagraph">We offer mental health services, including psychiatric assessment, diagnosing, medication management, and medical cannabis. We are also a REMS-certified treatment center offering Spravato ® (esketamine) for individuals who have treatment resistant depression.</p>
        </div>
        <div class="col imgWrapper">
            <img src="~/assets/img/calming_spring.jpg" alt="A calming spring" class="infoImages" />
        </div>
    </div>

    <div class="row infoSubWrapper">
        <div class="col">
            <h2 class="infoTitle subTitle">Virtual Visit</h2><br />
            <p class="infoParagraph">We understand that much-needed appointments can be difficult to maintain. We offer flexibility and convenience to see your provider through live, interactive communication on any smart phone, tablet or computer.</p>
        </div>
        
        <div class="col imgWrapper">
            <img src="~/assets/img/laptop.jpg" alt="telehealth_appointment" class="infoImages" />
        </div>
    </div>
</div>
