@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/home.css" />
}

<div id="openStatementWrapper"></div>

<div id="banner" class="row">
    <div class="col">--</div>
    <div class="col">
        Now accepting new patients, please call to set up an appointment
    </div>
    <div class="col">--</div>
</div>
<h1 id="homeCatchPhrase">Elevate Your Wellness</h1>
<div id="infoWrapper" class="col">
    <div class="row infoSubWrapper">
        <div class="col">
            <h2 class="infoTitle subTitle">About Us</h2><br />
            <p class="infoParagraph">Mountain Mental Health is an outpatient clinic serving the community by treating a wide range of mental health disorders, from mild to complex in nature. We view each person as an individual and create a plan that is unique to you and your distinct struggles. We believe that anyone who takes the path to Wellness deserves to have a voice and to be treated with respect and empowerment.</p>
            <p class="infoParagraph">We strive provide the best care for you, and will work closely with you, your family, and other providers or therapists to help find a successful path of treatment.</p>
            <p class="infoParagraph">Our Vision is to provide quality healthcare to those struggling with their mental health.</p>
        </div>
        @* Need to center the image along the infosubwrapper *@
        <div class="col imgWrapper">
            <img src="~/assets/img/sunny_trees.jpg" alt="sunshine shining through a grove of trees" class="infoImages" />
        </div>
    </div>
@*  *@
    <div class="row infoSubWrapper">
        <div class="col">
            <h2 class="infoTitle subTitle">Elevate Your Wellness: The Importance of Mental Health Treatment</h2><br />
            <p class="infoParagraph">What about our mental health? Nearly 44 million Americans, nearly 1 in 5 adults, struggle with a mental health issue in a given year. For too long individuals who suffer from a mental health disorder have chosen to ignore their symptoms in fear of the social stigma that has persistently clung to mental illness. That has to stop.</p>
            <p class=infoParagraph>There is increasing awareness in the scientific community of the link between our physical health and our psychological health. Untreated mental illness has profound consequences to our health and wellbeing, including increased risk of heart disease, a weakened immune system, reduced lifespan, financial instability, interpersonal problems, career fallout, and legal issues.</p>
            <p class=infoParagraph>The mind-body connection is real. To maximize overall health and well-being it is critical that mental health disorders be addressed and treated. Treatment of mental health conditions provides the needed support to both manage symptoms and process unresolved traumas or painful emotional events that may be contributing to the disorder. Learn about the healing options at Mountain Mental Health.</p>
        </div>
        <div class="col imgWrapper">
            <img src="~/assets/img/sunny_reeds.jpg" alt="Sunset at a lake looking through reeds" class="infoImages" />
        </div>
    </div>
@*  *@
    <div class="row infoSubWrapper">
        <div class="col">
            <h2 class="infoTitle subTitle">Services offered by Mountain Mental Health</h2><br />
            <p class="infoParagraph">We offer mental health services, including psychiatric assessment, diagnosing, medication management, and medical cannabis. We are also a REMS-certified treatment center offering Spravato ® (esketamine) for individuals who have treatment resistant depression</p>
        </div>
        <div class="col imgWrapper">
            <img src="~/assets/img/calming_spring.jpg" alt="A calming spring" class="infoImages" />
        </div>
    </div>

    <div class="row infoSubWrapper">
        <div class="col">
            <h2 class="infoTitle subTitle">Virtual Appointments</h2><br />
            <p class="infoParagraph">We understand that much-needed appointments can be difficult to maintain. We offer flexibility and convenience to see your provider through live, interactive communication on any smart phone, tablet or computer. Telemedicine is the process of providing health care using video conferencing. Providing convenient, confidential and compassionate care that works around your schedule.</p>
        </div>
        
        <div class="col imgWrapper">
            <img src="~/assets/img/laptop.jpg" alt="telehealth_appointment" class="infoImages" />
        </div>
    </div>
</div>
