@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/home.css" />
}

<div id="openStatementWrapper">
    <h1 id="homeCatchPhrase">Elevate Your Wellness</h1>
</div>
