@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/patientCenter.css" />
}

<div id="openingWrapper" class="row">
    <div id="ptCenterDescription" class="col">
        <h1 class="subTitle">Patient Center</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec purus cursus, venenatis metus malesuada, vestibulum ante. Quisque tincidunt magna at auctor elementum. Vestibulum eu purus aliquam, mattis ante quis, varius nisl. Quisque maximus sapien ac tellus vestibulum, vel vulputate purus auctor.</p>
        <p>Our secure patient portal allows you to:</p>
        <ul>
            <li>Communicate with Mountain Mental Health</li>
            <li>Update your information</li>
            <li>Complete online forms</li>
            <li>Request an appointment</li>
            <li>Request a prescription refill</li>
            <li>Make a payment</li>
            <li>Respond to our questionaires</li>
        </ul>
        <h4>To access the patient portal, go to the following link:</h4>
        <a href="/">Link Text Here</a>
        <h4>If you need to register, please call our office and we will send you the registration invite.</h4>
    </div>
    <div class="col">
        <img src="~/assets/img/counseling.jpg" alt="patientCenterImage" id="ptCenterImg" />
    </div>
</div>