@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/services.css" />
}

<div id="openStatementWrapper"></div>

<h1 id="serviceTitle">Our Services</h1>

<div id="medManagementService" class="servicesWrapper row">
    <div class="servicesSubWrapper col">
        <h2 class="servicesTitle subTitle">Medication Management</h2>
        <p class="servicesDescription">Your practitioner will take a comprehensive approach to your care, collaborating with other health care providers to provide you with the best outcomes. Here is what you can expect from your practitioner:</p>
        <ul id="servicesBulletList">
            <li class="servicesBullet">Evaluation</li>
            <span class="serviceBulletDescription">Medication management starts with a thorough evaluation of your medical and medication history.</span>
            <li class="servicesBullet">Creation of a Medical Plan</li>
            <span class="serviceBulletDescription">Your practitioner determines the best medicines, dosages, and schedule for you, considering your unique needs. </span>
            <li class="servicesBullet">Adjustments</li>
            <span class="serviceBulletDescription">Your practitioner closely monitors you for any adverse reactions or side effects and adjust if needed to ensure optimal outcomes.</span>
        </ul>
        <button class="servicesBtn">Call To Action!</button>
    </div>
    <div class="servicesSubWrapper col">
        <img src="~/assets/img/pills.jpg" alt="Pills within containers" class="servicesImg" />
    </div>
</div>

<div class="servicesWrapper row">
    <div class="servicesSubWrapper col">
        <h2 class="servicesTitle subTitle">Spravato ® (esketamine)</h2>
        <p class="servicesDescription">Spravato® (esketamine intranasal) is a prescription, FDA-approved nasal spray made up of the chemical esketamine, which is made from ketamine, an anesthetic drug that is also used to treat depression at subanesthetic doses which is administered in our clinic. When used in conjunction with an oral antidepressant, Spravato can provide relief from treatment resistant major depression and depression with suicidal thoughts, within hours of using it.</p>
        <button class="servicesBtn">Call To Action!</button>
    </div>
    <div class="servicesSubWrapper col">
        <img src="~/assets/img/happy_beach_woman.jpg" alt="woman_on_beach" class="servicesImg" />
    </div>
</div>

<div id="spravatoWrapper" class="serviceWrapper row">
    <div class="col">
        <img src="~/assets/img/services/spravato_logo.jpg" alt="spravato logo" class="spravatoImg" />
    </div>
    <div id="spravatoLink" class="col">
        Read about Spravato® patient stories <a href="https://www.spravato.com/spravato-patient-stories">here</a>
    </div>
    <div class="col">
        <img src="~/assets/img/services/spravato_medical_device.jpg" alt="spravato medical device" class="spravatoImg" />
    </div>
</div>

<div class="servicesWrapper row">
    <div class="servicesSubWrapper col">
        <h2 class="servicesTitle subTitle">Medical Cannabis Cards</h2>
        <p class="servicesDescription">At Mountain Mental Health we strive to make the process of applying for a Utah State Medical Marijuana card as affordable, informative, and easy as possible. In person appointments are available to meet with our qualified medical providers (QMP). Our QMP's will meet with you and evaluate if you have medical conditions that qualify for medical cannabis during a short 10–15-minute visit. Once you have scheduled an appointment with us and come in for your medical marijuana evaluation, we will assist you with the entire online state application process</p>
        <button class="servicesBtn">Call To Action!</button>
    </div>
    <div class="servicesSubWrapper col">
        <img src="~/assets/img/cannabis.jpg" alt="A cannabis plant" class="servicesImg" />
    </div>
</div>

<div id="telehealthService" class="servicesWrapper row">
    <div class="servicesSubWrapper col">
        <h2 class="servicesTitle subTitle">Telehealth Therapy</h2>
        <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod tortor vitae arcu ultrices, id pharetra arcu commodo. Duis vitae dignissim nunc, nec viverra quam. Proin a dignissim nunc. Duis felis tellus, varius eget neque eu, ultricies malesuada tortor. Cras. </p>
        <button class="servicesBtn">Call To Action!</button>
    </div>
    <div class="servicesSubWrapper col">
        <img src="~/assets/img/telehealth.jpg" alt="telehealth" class="servicesImg" />
    </div>
</div>