@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/services.css" />
}

<div id="openStatementWrapper"></div>

<h1 id="serviceTitle">Our Services</h1>

<div id="medManagementService" class="servicesWrapper row">
    <div class="servicesSubWrapper col">
        <h2 class="servicesTitle">Medication Management</h2>
        <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod tortor vitae arcu ultrices, id pharetra arcu commodo. Duis vitae dignissim nunc, nec viverra quam. Proin a dignissim nunc. Duis felis tellus, varius eget neque eu, ultricies malesuada tortor. Cras. </p>
        <button class="servicesBtn">Call To Action!</button>
    </div>
    <div class="servicesSubWrapper col">
        <img src="~/assets/img/med_management.jpg" alt="organized_medication" class="servicesImg" />
    </div>
</div>

<div id="esketamineService" class="servicesWrapper row">
    <div class="servicesSubWrapper col">
        <img src="~/assets/img/happy_beach_woman.jpg" alt="woman_on_beach" class="servicesImg" />
    </div>
    <div class="servicesSubWrapper col">
        <h2 class="servicesTitle">Eskatamine Therapy for Depression</h2>
        <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod tortor vitae arcu ultrices, id pharetra arcu commodo. Duis vitae dignissim nunc, nec viverra quam. Proin a dignissim nunc. Duis felis tellus, varius eget neque eu, ultricies malesuada tortor. Cras. </p>
        <button class="servicesBtn">Call To Action!</button>
    </div>
</div>

<div id="telehealthService" class="servicesWrapper row">
    <div class="servicesSubWrapper col">
        <h2 class="servicesTitle">Telehealth Therapy</h2>
        <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod tortor vitae arcu ultrices, id pharetra arcu commodo. Duis vitae dignissim nunc, nec viverra quam. Proin a dignissim nunc. Duis felis tellus, varius eget neque eu, ultricies malesuada tortor. Cras. </p>
        <button class="servicesBtn">Call To Action!</button>
    </div>
    <div class="servicesSubWrapper col">
        <img src="~/assets/img/telehealth.jpg" alt="telehealth" class="servicesImg" />
    </div>
</div>