@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/team.css" />
}

<h1 id="introHeader">Introducing the Mountain Mental Health Team</h1>

<div class="teamSection" class="col">
    <h2 class="sectionTitle subTitle">Providing Team</h2>
    <div class="sectionWrapper row">
        <div class="memberWrapper col">
            <img src="~/assets/img/team/spencer.png" alt="member_photo" class="memberImg" />
            <div class="col">
                <h4 class="memberName">Spencer Lowe</h4>
                <h4 class="memberTitle">DNP, APRN, FNP-C, CNE, PMHNP-BC, QMP</h4>
            </div>
            <div class="peek">
                <p class="memberDescription">Dr. Spencer Lowe is an advanced practice nurse (APRN) who holds dual advanced degrees including a Doctor of Nursing Practice Degree from the University of Utah and a psychiatric mental health nurse practitioner (PMHNP) from the University of Cincinnati. He has also served as a member of the Utah Air National Guard for the last 17 years, where he is a provider in the medical group. Dr. Lowe has worked in the healthcare field since 2007 where he specialized in endocrine and transplant nursing. Dr. Lowe treats a broad range of mental health issues throughout the life span including children, adolescents, and adults. Dr. Lowe is now accepting new patients, please call our office to set up an appointment.</p>
            </div>
        </div>
        <div class="memberWrapper col">
            <img src="~/assets/img/team/shane.jpg" alt="member_photo" class="memberImg" />
            <div class="col">
                <h4 class="memberName">Shane Carter</h4>
                <h4 class="memberTitle">APRN, PMHNP-BC, MSN-ED, QMP</h4>
            </div>
            <div class="peek">
                <p class="memberDescription">Shane is an advanced practice nurse (APRN) who holds dual master's degrees as an MSN-ED, and psychiatric mental health nurse practitioner from the University of Cincinnati. Shane has worked in the medical field since 2004 and specialized in critical care nursing where he cared for his fellow veterans at the Salt Lake City Veterans Hospital. He has served in the military for 20 years and is currently a provider in the Utah Air National Guard med group. Shane treats a variety of mental health issues throughout the life span including children, adolescents, and adults. Shane is now accepting new patients, please call our office to set up an appointment.</p>
            </div>
        </div>
        @* <div class="memberWrapper col">
            <img src="~/assets/img/team/avatar.png" alt="member_photo" class="memberImg" />
            <div class="col">
                <h4 class="memberName">Karen</h4>
                <h4 class="memberTitle">Title</h4>
            </div>
            
            <p class="memberDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae mi a nisi volutpat eleifend in sit amet felis. Suspendisse. </p>
        </div>
            <div class="memberWrapper col">
            <img src="~/assets/img/team/avatar.png" alt="member_photo" class="memberImg" />
            <div class="col">
                <h4 class="memberName">Ray Searles</h4>
                <h4 class="memberTitle">Title</h4>
            </div>
            <p class="memberDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae mi a nisi volutpat eleifend in sit amet felis. Suspendisse. </p>
        </div> *@


    </div>
</div>

<div class="teamSection" class="col">
    <h2 class="sectionTitle subTitle">Support Team</h2>
    <div class="sectionWrapper row">

        <div class="memberWrapper col">
            <img src="~/assets/img/team/avatar.png" alt="member_photo" class="memberImg" />
            <div class="col">
                <h4 class="memberName">Melissa Blair</h4>
            </div>
        </div>

        <div class="memberWrapper col">
            <img src="~/assets/img/team/avatar.png" alt="member_photo" class="memberImg" />
            <div class="col">
                <h4 class="memberName">Kristina Magleby</h4>
            </div>
        </div>

        <div class="memberWrapper col">
            <img src="~/assets/img/team/avatar.png" alt="member_photo" class="memberImg" />
            <div class="col">
                <h4 class="memberName">Jordan Young</h4>
            </div>
        </div>
        <p>We have a talented support team that will help you communicate with your providers, schedule and reschedule appointments, obtain medications efficiently, work with your health insurance, and assure an overall positive experience.</p>
    </div>
</div>