@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/team.css" />
}

<div id="openStatementWrapper"></div>

<h1 id="introHeader">Introducing the Mountain Mental Health Team</h1>