@{
    Layout = "_Layout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/team.css" />
}

<h1 id="introHeader">Introducing the Mountain Mental Health Team</h1>

<div id="teamSection" class="col">
    <h2 class="sectionTitle">Providing Team</h2>
    <div class="sectionWrapper row">
        <div class="memberWrapper col">
            <img src="~/assets/img/team/spencer.png" alt="member_photo" class="memberImg" />
            <h4 class="memberTitle">Spencer</h4>
            <p class="memberDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae mi a nisi volutpat eleifend in sit amet felis. Suspendisse.</p>
        </div>
        <div class="memberWrapper col">
            <img src="~/assets/img/team/shane.jpg" alt="member_photo" class="memberImg" />
            <h4 class="memberTitle">Shane</h4>
            <p class="memberDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae mi a nisi volutpat eleifend in sit amet felis. Suspendisse. </p>
        </div>
        <div class="memberWrapper col">
            <img src="~/assets/img/team/avatar.png" alt="member_photo" class="memberImg" />
            <h4 class="memberTitle">Karen</h4>
            <p class="memberDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae mi a nisi volutpat eleifend in sit amet felis. Suspendisse. </p>
        </div>
    </div>
</div>