#openStatementWrapper {
    background-image: url("/assets/img/homeBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size: cover;

    position: relative;
    height: 40vh;
    width: 100vw;
    border: 1px solid black;

    text-align: center;
}

#openStatementWrapper h1 {
    position: relative;
    top: 80px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}

#contactBody{
    margin: 0px 30%;
}

.contactMethods {
    font-weight: bold;
    font-size: 18px;
}
#addressInstruction {
    font-style: italic;
    font-size: 13px;
    margin: 0px 0px 16px 85px;
}

.gallery {
    align-items: center;
    margin: 200px 0px;
    
}
.gallery h2 {
    text-align: center;
    margin: 32px 0px 8px 0px;
}
.main-image img {
    width: 600px;
    height: 600px;
}

.thumbnails {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.thumbnail {
    margin-right: 10px;
    cursor: pointer;
}
.thumbnail img {
    width: 150px;
    height: 150px;
}
.thumbnail img:hover {
    opacity: 0.7;
}

img {
    object-fit: cover;
    object-position: center;
}