/* Global Variables */
:root {
    --budgetor-charcoal: #1C3F4F;
    --budgetor-slate-gray: #295C67;
    --budgetor-aquamarine: #64E9BF;
    --budgetor-battleship-gray: #818D92;
    --budgetor-off-white: #f5f5f5;
    --budgetor-green: rgb(0, 88, 40);
}
body {
    margin: 0px;
    background-color: var(--budgetor-off-white);
    font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
}
.row, .rowRev, .col { display: flex; }
.row {
    flex-direction: row;
    flex-wrap: wrap;
}
.rowRev {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.col { flex-direction: column; }

.button {
    width: 150px;
    height: auto;
    border: none;
    border-radius: 0px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}

.button:hover {
    cursor: pointer;
}