#headerWrapper {
    background-color: var(--mental-off-white);
    color: black;

    height: 80px;
    width: 100%;
    z-index: 5;

    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 3px 0px 0px 0px;

    border-bottom: 2px solid black;
    overflow: hidden;
}

#logoWrapper {
    width: fit-content;
}
#logoImg {
    width: 100px;
    height: auto;
    margin: 16px;
    display: block;
}

#menuWrapper {
    flex-grow: 1;
    padding-left: 36px;
}
#contactWrapper {
    height: 25%;
    width: auto;
    min-width: fit-content;
    justify-content: flex-end;
}
.contactInfo {
    margin-right: 16px;
}
.contactLinks {
    text-decoration: none;
    color: black;
}
.iconImg {
    width: 16px;
    height: auto;
}

#linkWrapper {
    height: 75%;
    width: fit-content;
}
#servicesLink:hover + #servicesDropDownWrapper { display: block; }
#servicesDropDownWrapper {
    display: none;
    z-index: 1;
    position: fixed;
    top: 65px;
    background-color: var(--mental-off-white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#servicesDropDownWrapper:hover {
    display: block;
}
#servicesDropDownWrapper a {
    float: none;
    color: var(--mental-blue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
#servicesDropDownWrapper a:hover {
    background-color: #ddd;
}
.headerLinks {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
    color: black;
    text-decoration: none;
    margin: auto 40px auto 0px;
}
.headerLinks:hover {
    text-decoration: none;
    text-decoration-color: var(--mental-blue);
    text-decoration-thickness: 4px;
}