#openStatementWrapper {
    background-image: url("/assets/img/homeBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size: cover;

    position: relative;
    height: 60vh;
    width: auto;
    border: 1px solid black;

    text-align: center;
}

#homeCatchPhrase {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
    margin: 0px;
}

#banner {
    margin-bottom: 32px;
    font-family: 'Merriweather', 'Courier New', Courier, monospace;
    font-size: 22px;
    text-align: center;
    padding: 32px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    justify-content: center;
}

#infoWrapper {
    margin: 0px 10% 50px 10%;
}
.infoSubWrapper {
    margin: 32px 0px;
}
.infoSubWrapper div {
    position: relative;
    width: 40%;
    min-width: 400px;
    padding: 12px;
    margin: 0px auto;
}
.infoSubWrapper:nth-child(2n) {
    flex-direction: row-reverse;
}
.infoTitle {
    font-size: 26px;
    font-family: 'Koulen', 'Montserrat', 'Courier New', Courier, monospace;
}
.infoParagraph {
    font-size: 18px;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}
.infoImages {
    width: 100%;
    height: auto;
}   

.imgWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}
.suicidePrevention {
    color: red;
}