#openStatementWrapper {
    background-image: url("/assets/img/homeBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size: cover;

    position: relative;
    height: 60vh;
    width: 100vw;
    border: 1px solid black;

    text-align: center;
}

#openStatementWrapper h1 {
    position: relative;
    top: 80px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}

#banner {
    margin-bottom: 32px;
    font-family: 'Merriweather', 'Courier New', Courier, monospace;
    font-size: 22px;
    text-align: center;
    padding: 32px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    justify-content: center;
}

#infoWrapper {
    margin: 50px 20%;
}
.infoSubWrapper {
    margin: 64px 0px;
}
.infoSubWrapper div {
    position: relative;
    width: 40%;
    max-height: 700px;
    overflow: hidden;
    padding: 12px;
}
.infoTitle {
    font-size: 26px;
    font-family: 'Koulen', 'Montserrat', 'Courier New', Courier, monospace;
}
.infoParagraph {
    font-size: 18px;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}
.infoImages {
    width: 100%;
    height: auto;
}   

.imgWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}