#openingWrapper {
    position: relative;
    top: 100px;
    width: 70vw;
    padding: 0px 15%;
}
#openingWrapper div {
    width: 50%;
}
#ptCenterImg {
    width: 30vw;
    max-width: 600px;
    min-width: 300px;
    height: auto;
    margin: auto;
}