#openStatementWrapper {
    background-image: url("/assets/img/services/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 250%;
    background-size: cover;

    position: relative;
    height: 60vh;
    width: 100vw;
    border: 1px solid black;
}
#serviceTitle {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
    color: var(--mental-blue);
    text-align: center;
    margin: 32px 0px;
}
.servicesDescription { margin-bottom: 0px; }
.servicesWrapper {
    margin: 0px 20%;
    padding: 36px 0px;
    justify-content: space-between;

    align-items: center;
    flex-wrap: wrap;
}
.servicesWrapper:nth-child(2n) { flex-direction: row-reverse; }
.servicesWrapper div {
    position: relative;
    width: 40%;
    min-width: 400px;
    padding: 12px;
    margin: 0px auto;
}
#servicesBulletList { padding-left: 5px; }
.servicesBullet {
    font-weight: bolder;
    margin-top: 16px;
}
.serviceBulletDescription {
    font-style: italic;
}

.servicesImg {
    width: 100%;
    height: auto;
}

#spravatoWrapper {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: white;
}
.spravatoImg {
    width: 400px;
    height: auto;
}
#spravatoLink {
    margin: 32px 32px;
    font-family: 'Merriweather', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 26px;
    position: relative;
}

.servicesBtn {
    border: none;
    padding: 6px;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--mental-blue);
    color: white;
    cursor: pointer;
    display:none;
}
.servicesBtn:hover {
    animation-name: btnHover;
    animation-duration: 250ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes btnHover {
    0% {
        background-color: var(--mental-blue);
        color: white;
        border: none;
    }
    100% {
        background-color: var(--mental-off-white);
        color: var(--mental-blue);
        border: 3px solid var(--mental-blue);
    }
}

#cannabis-qualifying-conditions {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    font-weight: bold;
}
.infoBox {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vw;
    height: 70vh;
    overflow: auto;
    border: 2px solid black;
    border-radius: 4px;
    background-color: beige;
}
.infoBoxHeader {
    text-align: center;
}
.infoPoint {
    padding: 5px 0px;
}