#introHeader {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
    text-align: center;

    margin-top: 85px;
}

.teamSection {
    margin: 16px 15%;
}
.sectionTitle {
    font-size: 36px;
    position: relative;
    top: 50px;
    left: 20px;
    background-color: var(--mental-off-white);
    width: fit-content;
    padding: 0px 12px;
}
.sectionWrapper {
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 32px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: 6px 8px 12px 1px #a4a4a4;
}
.memberWrapper {
    width: 19vw;
    min-width: 180px;
    max-width: 400px;
    position: relative;
}
.memberImg {
    width: 15vw;
    height: auto;
    margin: 0px auto;
    border-radius: 50%;
}
.memberName {
    margin-bottom: 0px;
}
.memberTitle {
    margin-top: 0px;
}
.memberDescription {
    width: 80%;
    text-align: center;
    margin: 0px auto 64px auto;
}
