#introHeader {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
    text-align: center;

    margin-top: 85px;
}

#teamSection {
    margin: 16px 15%;
}
.sectionTitle {
    font-size: 36px;
}
.sectionWrapper {

}
.memberImg {
    width: 200px;
    height: 250px;
}
