@page "/Contact"

<PageTitle>MMH - Contact</PageTitle>

<div id="bannerImg">
	<div id="contactHeaderWrapper">
		<h1 id="headerText">CONTACT US</h1>
	</div>
</div>

<h2>LOCATION</h2>

<div id="mapWrapper">
	<p>4516 S 700 E #379, Salt Lake City, UT 84107</p>

	<!-- Documentation found at https://developers.google.com/maps/documentation/embed/embedding-map?hl=en#place_mode -->
	<iframe width="600"
			height="450"
			style="border:0"
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"
			src="https://www.google.com/maps/embed/v1/place?key=FoundIn__maps_api.secret
		&q=Mountain+Mental+Health+Murray+Utah">
	</iframe>

	<code>If using Google Maps, please type in the entire address, including suite number.</code>
</div>

<div id="imageGalleryWrapper">

</div>

<div id="contactInfoWrapper">

</div>