@page "/"

<PageTitle>Mountain Mental Health</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="/Services">Services</a>
<br/>
<a href="/Team">Team</a>
<br />
<a href="/Contact">Contact</a>