#bannerImg {
	background-image: url("/assets/img/Home/banner.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 40% 50%;
	background-size: cover;

	position: relative;
	height: 55vh;
	width: auto;
	border: 1px solid black;

	text-align: center;
}

#homeHeaderWrapper {
	margin: 10% 50%;
	padding: 8px;
	position: relative;
	transform: translateX(-50%);
	animation: fade-in-bottom;
	animation-duration: 3s;
	border-radius: 8px;
	background-color: #ffffffaa;
	width: 45%;
	overflow: hidden;
}
#headerText {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	font-family: 'Montserrat', 'Courier New', Courier, monospace;
}
#headerMissionStatement {
	text-align: center;
	font-style: italic;
	font-size: 22px;
	margin: 0px 10%;
	font-family: 'Merriweather', 'Courier New', Courier, monospace;
}

#acceptingPtWrapper {
	margin-bottom: 32px;
	font-family: 'Merriweather', 'Courier New', Courier, monospace;
	font-size: 22px;
	text-align: center;
	padding: 32px;
	justify-content: center;
}

#contentWrapper {
	justify-content: space-evenly;
	gap: 32px;
	margin: 32px 8px;
}
.content {
	box-shadow: 2px 2px 10px 2px var(--mental-gray);
	width: 35%;
	max-width: 450px;
	min-width: 150px;
	height: auto;
	text-align: center;
	padding: 8px 16px;
	transition: all 250ms ease-in-out;
	cursor: pointer;
}
.content:hover {
	box-shadow: 6px 6px 10px 2px var(--mental-gray);
	transform: scale(1.05);
}

@keyframes fade-in-bottom {
	0% {
		opacity: 0;
		bottom: -50px;
	}
	100% {
		opacity: 1;
		bottom: 0px;
	}
}

@media only screen and (max-width: 700px) {
	#bannerImg {
		height: 30vh;
	}
	#homeHeaderWrapper {
		width: 90%;
		max-height: 20vh;
	}
	#headerMissionStatement {
		font-size: 16px;
		margin: 0px;
	}
}

@media screen and (max-width: 500px) {
	#headerMissionStatement {
		display: none;
	}
}