@page "/"

<PageTitle>Mountain Mental Health</PageTitle>

<div id="bannerImg">
	<div id="homeHeaderWrapper">
		<h1 id="headerText">Elevate Your Wellness</h1>
		<p id="headerMissionStatement">Our vision is to provide quality healthcare to those struggling with their mental health</p>
	</div>
</div>

<div id="contentWrapper" class="row">
	<div class="content col">
		<h3>THE IMPORTANCE OF MENTAL HEALTH</h3>
		<p>LEARN MORE</p>
	</div>

	<div class="content col">
		<h3>KETAMINE TREATMENT AND CANNABIS CARDS</h3>
		<p>LEARN MORE</p>
	</div>

	<div class="content col">
		<h3>VIRTUAL VISIT</h3>
		<p>LEARN MORE</p>
	</div>
</div>

<div id="acceptingPtWrapper">
	Now accepting new patients, please call to set up an appointment
</div>