@page "/"

<PageTitle>Mountain Mental Health</PageTitle>

<div id="bannerImg"></div>

<div id="acceptingPtWrapper">
	Now accepting new patients, please call to set up an appointment
</div>

<h1 id="homeHeader">Elevate Your Wellness</h1>