@page "/privacy"
@layout MainLayout

<h1 id="privacyTitle">Privacy Policy</h1>
<code id="effective-date">Effective Date: November 20<sup>th</sup>, 2024</code>

<div>
	<p class="section-description">Mountain Mental Health (“we,” “us,” “our”) respects your privacy and is committed to protecting your personal information. This Privacy Policy explains how we collect, use, and share information when you opt in to receive SMS messages from us.</p>
</div>

<div>
	<h2>Information We Collect</h2>

	<p class="section-description">When you opt in to receive SMS messages, we collect:</p>
	<ul>
		<li>Your phone number, which is provided by you in a physical form that is filled out at our office and is used to communicate with you via SMS, or for normal phone communication.</li>
		<li>You consent to send SMS messages</li>
	</ul>
</div>

<div>
	<h2>How We Use Your Information</h2>

	<p class="section-description">We use your information to:</p>

	<ul>
		<li> Send you the SMS messages you’ve opted in to receive</li>
		<li>Provide appointment reminders, marketing messages, and general two-way communications.</li>
	</ul>
</div>

<div>
	<h2>Sharing Your Information</h2>

	<p class="section-description">Consumer information is not shared with third-parties for marketing purposes.</p>
</div>

<div>
	<h2>Your Rights</h2>

	<p class="section-description">You can opt out of receiving SMS messages at any time by replying with “STOP” to any message we send you. If you need assistance with anything reply with “HELP”.</p>
</div>

<div>
	<h2>Data Security</h2>

	<p class="section-description">We implement reasonable measures to protect your personal information from unauthorized access or disclosure.</p>
</div>