@page "/services"
@layout MainLayout

<div id="titleWrapper" class="row">
	<h1 id="serviceTitle">Services</h1>
</div>

<div id="medicationManagement" class="row contentWrapper">
	<div class="content col">
		<div class="row contentTitleWrapper">
			<h2 class="contentTitle">Medication Management</h2>
		</div>

		<div class="row contentTextWrapper">
			<p class="contentText">Your practitioner will take a comprehensive approach to your care, collaborating with other health care providers to provide you with the best outcomes. Here is what you can expect from your practitioner:</p>
			<ul>
				<li class="listItem">
					<strong>Evaluation</strong><br>
					<i>Medication management starts with a thorough evaluation of your medical and medication history.</i>
				</li>
				<li class="listItem">
					<strong>Creation of a Medical Plan</strong><br>
					<i>Your practitioner determines the best medicines, dosages, and schedule for you, considering your unique needs.</i>
				</li>
				<li class="listItem">
					<strong>Adjustments</strong><br>
					<i>Your practitioner closely monitors you for any adverse reactions or side effects and make adjustments if needed to ensure optimal outcomes.</i>
				</li>
			</ul>
		</div>
	</div>

	<div class="content contentImageWrapper col">
		<img src="assets/img/services/medicationManagement.jpg" alt="image-of-pills" class="contentImage" />
	</div>
</div>

<hr>

<div id="spravato" class="row contentWrapper">
	<div class="content">
		<div class="row contentTitleWrapper">
			<h2 class="contentTitle">Spravato ® and Alternatives</h2>
		</div>

		<div class="row contentTextWrapper">
			<p class="contentText">Spravato® and alternatives are used intranasally and are fast acting. When used in conjunction with an oral antidepressant, they can provide relief from treatment resistant major depression and depression with suicidal thoughts, within hours of its usage.</p>
			<p class="contentText">They can be a powerful option to help depression but are not a magic solution. We prioritize your safety with experienced professionals in a controlled setting which includes close monitoring of your wellbeing. Most importantly, we work with you to determine if this therapy aligns with your specific needs. Please contact us for more information.</p>
			<a href="" id="spravatoLink">Patient Stories</a>
		</div>
	</div>

	<div class="content contentImageWrapper">
		<img src="assets/img/services/spravato.jpg" alt="happy-woman-on-beach" class="contentImage" />
	</div>
</div>

<div id="TMS" class="row contentWrapper">
	<div class="content">
		<div class="row contentTitleWrapper">
			<h2 class="contentTitle">Transcranial Magnetic Stimulation (TMS)</h2>
		</div>

		<div class="row contentTextWrapper">
			<p class="contentText">TMS is a noninvasive treatment that uses magnetic fields to stimulate nerve cells in the brain. It is primarily used to treat depression, but it has also shown promise for other conditions. </p>
			<p class="contentText">Some of the key benefits of TMS:</p>
			<ul>
				<li><strong>Effective for Treatment-Resistant Depression:</strong> TMS is often used when traditional treatments like medication and psychotherapy have not been effective. It targets specific areas of the brain involved in mood control, which can help alleviate symptoms of depression.</li>
				<li><strong>Noninvasive and Safe:</strong> Unlike other treatments, TMS does not require surgery or anesthesia. It is considered safe, with most patients experiencing only mild and temporary side effects, such as scalp discomfort at the treatment site.</li>
				<li><strong>FDA-Approved for Multiple Conditions:</strong> Besides depression, TMS is FDA-approved for treating obsessive-compulsive disorder (OCD), migraines, and helping people quit smoking when other treatments have not worked.</li>
				<li><strong>Potential for Other Uses:</strong> Research is ongoing, but TMS may also help with conditions like anxiety, post-traumatic stress disorder (PTSD), and neurological disorders such as Parkinson's disease and multiple sclerosis.</li>
				<li><strong>Complementary Treatment:</strong> TMS can be used alongside other treatments, making it a versatile option for those who have not found relief through other methods.</li>
				<li><strong>Improves Quality of Life:</strong> By reducing symptoms of depression and other conditions, TMS can significantly improve a person's quality of life, helping them return to daily activities and enjoy better mental health.</li>
			</ul>
		</div>
	</div>

	<div class="content contentImageWrapper">
		<img src="assets/img/services/DoctorWithPatient.jpg" alt="Doctor-sitting-with-patient" class="contentImage" />
	</div>
</div>

<div id="cannabisWrapper" class="row contentWrapper">
	<div class="content">
		<div class="row contentTitleWrapper">
			<h2 class="contentTitle">Medical Green Cards</h2>
		</div>

		<div class="row contentTextWrapper">
			<p class="contentText">At Mountain Mental Health we strive to make the process of applying for a Utah State Medical Green card as affordable, informative, and easy as possible. Call for an in-person appointment with a qualified medical provider (QMP) at <a href="tel:385-449-9990">(385) 449-9990</a> Our QMP's will meet with you and evaluate if you have a qualifying condition which makes you eligible for a medical green card during a short 15–20-minute visit.</p>
			<h3 id="cannabisPricingTitle">Pricing</h3>
			<p class="cannabisText">Initial one-year medical green card: $180</p><br>
			<p class="cannabisText">One year renewal: $80</p>
			<p><i>Note: you must be 21 years of age to apply for a medical green card</i></p>
			<p>Utah medical green pharmacy locations can be found <a href="https://medicalcannabis.utah.gov/pharmacies/pharmacy-locations/">here</a></p>
		</div>
	</div>

	<div class="content contentImageWrapper">
		<img src="assets/img/services/cannabis.png" alt="cannabis-logo" class="contentImage" />
	</div>
</div>

<hr>

<div id="telehealth" class="row contentWrapper">
	<div class="content">
		<div class="row contentTitleWrapper">
			<h2 class="contentTitle">Telehealth Therapy</h2>
		</div>

		<div class="row contentTextWrapper">
			<p class="contentText">After an initial in-person visit, we can schedule virtual follow-up appointment that works around your busy schedule. Telemedicine is the process of providing health care using video conferencing, providing convenient, confidential and compassionate care.</p>
		</div>
	</div>

	<div class="content contentImageWrapper">
		<img src="assets/img/services/telehealth.jpg" alt="man-at-telehealth-appt" class="contentImage" />
	</div>
</div>

<div id="weight-management-therapy" class="row contentWrapper">
	<div class="content">
		<div class="row contentTitleWrapper">
			<h2 class="contentTitle">Weight Managment Therapy</h2>
		</div>

		<div class="row contentTextWrapper">
			<p class="contentText">A GLP-1 receptor agonist is traditionally utilized for diabetes and weight management. In psychiatric settings, it presents an innovative approach to addressing body dysmorphia related to weight gain. By facilitating weight loss and improving metabolic health, it can mitigate the distress and obsessive thoughts associated with weight gain, leading to enhanced self-esteem and a more positive body image, ultimately contributing to overall mental well-being. At Mountain Mental Health, we provide comprehensive monitoring to ensure healthy weight loss and offer the necessary support and tools to improve your health. Please contact our office to learn more about how this therapy can benefit you.</p>
		</div>
	</div>

	<div class="content contentImageWrapper">
		<img src="assets/img/services/Digital-Scale-White.png" alt="White Weight Scale" class="contentImage" />
	</div>
</div>