@page "/services"
@layout MainLayout

<div id="titleWrapper" class="row">
	<h1 id="serviceTitle">Services</h1>
</div>

<div id="medicationManagement" class="row contentWrapper">
	<div class="content col">
		<div class="row contentTitleWrapper">
			<h2 class="contentTitle">Medication Management</h2>
		</div>

		<div class="row contentTextWrapper">
			<p class="contentText">Your practitioner will take a comprehensive approach to your care, collaborating with other health care providers to provide you with the best outcomes. Here is what you can expect from your practitioner:</p>
			<ul>
				<li class="listItem">
					<strong>Evaluation</strong><br>
					<i>Medication management starts with a thorough evaluation of your medical and medication history.</i>
				</li>
				<li class="listItem">
					<strong>Creation of a Medical Plan</strong><br>
					<i>Your practitioner determines the best medicines, dosages, and schedule for you, considering your unique needs.</i>
				</li>
				<li class="listItem">
					<strong>Adjustments</strong><br>
					<i>Your practitioner closely monitors you for any adverse reactions or side effects and make adjustments if needed to ensure optimal outcomes.</i>
				</li>
			</ul>
		</div>
	</div>

	<div class="content contentImageWrapper col">
		<img src="assets/img/services/medicationManagement.jpg" alt="image-of-pills" class="contentImage" />
	</div>
</div>

<hr>

<div id="spravato" class="row contentWrapper">
	<div class="content">
		<div class="row contentTitleWrapper">
			<h2 class="contentTitle">Spravato ® (eskatamine)</h2>
		</div>

		<div class="row contentTextWrapper">
			<p class="contentText">Spravato® (esketamine intranasal) is a prescription, FDA-approved nasal spray made up of the chemical esketamine, which is made from ketamine, an anesthetic drug that is also used to treat depression at subanesthetic doses which is administered in our clinic. When used in conjunction with an oral antidepressant, Spravato can provide relief from treatment resistant major depression and depression with suicidal thoughts, within hours of its usage.</p>
			<a href="" id="spravatoLink">Patient Stories</a>
		</div>
	</div>

	<div class="content contentImageWrapper">
		<img src="assets/img/services/spravato.jpg" alt="happy-woman-on-beach" class="contentImage" />
	</div>
</div>

<div id="ketamineTherapy" class="row contentWrapper">
	<div class="content">
		<div class="row contentTitleWrapper">
			<h2 class="contentTitle">Ketamine Therapy</h2>
		</div>

		<div class="row contentTextWrapper">
			<p class="contentText">At Mountain Mental Health, we offer ketamine therapy as a potential tool alongside other treatment. It can be a powerful option to help depression, but it is not a magic solution. We prioritize your safety with experienced professionals administering ketamine in a controlled setting. Most importantly, we work with you to determine if ketamine therapy aligns with your specific needs. Please contact us for more information.</p>
			<strong>3 Things to know about ketamine treatment at Mountain Mental Health</strong>
			<ul>
				<li class="listItem">
					<i>It’s noninvasive. Treatment is delivered through intranasal administration. (nose spray)</i>
				</li>
				<li class="listItem">
					<i>We’re a REMS certified clinic for the administration of esketamine/Spravato and ketamine treatment.</i>
				</li>
				<li class="listItem">
					<i>For off label ketamine, we offer affordable pricing: For patients with insurance, we charge an office visit to your insurance, and then you pay $50 per ketamine treatment; For self-pay patients, we charge $120 for an office visit, and then you pay $50 per ketamine treatment.</i>
				</li>
			</ul>
		</div>
	</div>

	<div class="content contentImageWrapper">
		<img src="assets/img/services/DoctorWithPatient.jpg" alt="Doctor-sitting-with-patient" class="contentImage" />
	</div>
</div>

<div id="cannabisWrapper" class="row contentWrapper">
	<div class="content">
		<div class="row contentTitleWrapper">
			<h2 class="contentTitle">Medical Green Cards</h2>
		</div>

		<div class="row contentTextWrapper">
			<p class="contentText">At Mountain Mental Health we strive to make the process of applying for a Utah State Medical Green card as affordable, informative, and easy as possible. Call for an in-person appointment with a qualified medical provider (QMP) at <a href="tel:385-449-9990">(385) 449-9990</a> Our QMP's will meet with you and evaluate if you have a qualifying condition which makes you eligible for a medical green card during a short 15–20-minute visit.</p>
			<h3 id="cannabisPricingTitle">Pricing</h3>
			<p class="cannabisText">Initial one-year medical green card: $180</p><br>
			<p class="cannabisText">One year renewal: $80</p>
			<p><i>Note: you must be 21 years of age to apply for a medical green card</i></p>
			<p>Utah medical green pharmacy locations can be found <a href="https://medicalcannabis.utah.gov/pharmacies/pharmacy-locations/">here</a></p>
		</div>
	</div>

	<div class="content contentImageWrapper">
		<img src="assets/img/services/cannabis.png" alt="cannabis-logo" class="contentImage" />
	</div>
</div>

<hr>

<div id="telehealth" class="row contentWrapper">
	<div class="content">
		<div class="row contentTitleWrapper">
			<h2 class="contentTitle">Telehealth Therapy</h2>
		</div>

		<div class="row contentTextWrapper">
			<p class="contentText">After an initial in-person visit, we can schedule virtual follow-up appointment that works around your busy schedule. Telemedicine is the process of providing health care using video conferencing, providing convenient, confidential and compassionate care.</p>
		</div>
	</div>

	<div class="content contentImageWrapper">
		<img src="assets/img/services/telehealth.jpg" alt="man-at-telehealth-appt" class="contentImage" />
	</div>
</div>

<div id="semaglutideTherapy" class="row contentWrapper">
	<div class="content">
		<div class="row contentTitleWrapper">
			<h2 class="contentTitle">Semaglutide Therapy</h2>
		</div>

		<div class="row contentTextWrapper">
			<p class="contentText">Semaglutide, a GLP-1 receptor agonist, is traditionally utilized for diabetes and weight management. In psychiatric settings, it presents an innovative approach to addressing body dysmorphia related to weight gain. By facilitating weight loss and improving metabolic health, semaglutide can mitigate the distress and obsessive thoughts associated with weight gain, leading to enhanced self-esteem and a more positive body image, ultimately contributing to overall mental well-being. At Mountain Mental Health, we provide comprehensive monitoring to ensure healthy weight loss and offer the necessary support and tools to improve your health. Please contact our office to learn more about how semaglutide can benefit you.</p>
		</div>
	</div>

	<div class="content contentImageWrapper">
		<img src="assets/img/services/Digital-Scale-White.png" alt="White Weight Scale" class="contentImage" />
	</div>
</div>