@page "/Team"

<div id="titleWrapper" class="row">
	<h1 id="aboutUsTitle">About Us</h1>
</div>

<div id="descriptionWrapper" class="row">
	<p>Mountain Mental Health is an outpatient clinic serving the community by treating a wide range of mental health disorders, from mild to complex in nature. We view each person as an individual and create a plan that is unique to you and your distinct struggles. We believe that anyone who takes the path to Wellness deserves to have a voice and to be treated with respect and empowerment.  We strive to provide the best care for you, and will work closely with you, your family, and other providers or therapists to help find a successful path of treatment.</p>
</div>

<h2 id="meetTheTeamTitle">MEET THE TEAM</h2>

<div class="teamSection">
	<h3 class="teamTitle">Providing Team</h3>
	<div class="row teamWrapper">
		<div class="col member provider" @onclick="OnProviderClicked">
			<img src="assets/img/team/Spencer_Lowe.png" alt="spencer-lowe-headshot" class="memberImg" />
			<h3 class="memberName">Spencer Lowe</h3>
			<span class="memberTitle">DNP, APRN, FNP-C, CNE, PMHNP-BC, QMP</span>
		</div>

		<div class="col member provider">
			<img src="assets/img/team/Shane_Carter.jpg" alt="shane-carter-headshot" class="memberImg" />
			<h3 class="memberName">Shane Carter</h3>
			<span class="memberTitle">APRN, PMHNP-BC, MSN-ED, QMP</span>
		</div>

		<div class="col member provider">
			<img src="assets/img/team/Karen_Risch.png" alt="karen-risch-headshot" class="memberImg" />
			<h3 class="memberName">Karen Risch</h3>
			<span class="memberTitle">APRN, PMHNP, MSN-ED</span>
		</div>

		<div class="col member provider">
			<img src="assets/img/team/Ray_Searles.png" alt="ray-searles-headshot" class="memberImg" />
			<h3 class="memberName">Ray Searles</h3>
			<span class="memberTitle">APRN, PMHNP, MSN-ED</span>
		</div>
	</div>
</div>

<div class="teamSection">
	<h3 class="teamTitle">Support Team</h3>
	<div class="row teamWrapper">
		<div class="col member">
			<img src="assets/img/team/Monique_Monfrooy.png" alt="monique-monfrooy-headshot" class="memberImg" />
			<h3 class="memberName">Monique Monfrooy</h3>
		</div>

		<div class="col member">
			<img src="assets/img/team/Melissa_Blair.png" alt="melissa-blair-headshot" class="memberImg" />
			<h3 class="memberName">Melissa Blair</h3>
		</div>

		<div class="col member">
			<img src="assets/img/team/Kristina_Magleby.png" alt="kristina-magleby-headshot" class="memberImg" />
			<h3 class="memberName">Kristina Magleby</h3>
		</div>

		<div class="col member">
			<img src="assets/img/team/Jordan_Young.png" alt="jordan-young-headshot" class="memberImg" />
			<h3 class="memberName">Jordan Young</h3>
		</div>
	</div>
</div>

@code
{
	private string focused { get; set; } = string.Empty;

	private void ToggleFocused()
	{
		focused = string.IsNullOrEmpty(focused) ? "focusedMember" : string.Empty;
	}

	void OnProviderClicked()
	{
		if(!string.IsNullOrEmpty(focused))
		{
			ToggleFocused();
		}
	}
}