@page "/termsandconditions"
@page "/terms"
@layout MainLayout

<h1 id="tosTitle">Terms of Service</h1>

<div>
	<h2>Introduction</h2>

	<p>Mountain Mental Health (&quot;we,&quot; &quot;us,&quot; or &quot;our&quot;) provides this website (&quot;Site&quot;) to you subject to your acceptance of the terms, conditions, and notices outlined herein. By using this Site, you agree to all such terms, conditions, and notices.</p>
</div>

<div>
	<h2>Modification of Terms</h2>

	<p>We reserve the right to modify the terms, conditions, and notices of this Site, including any associated charges, at any time.</p>
</div>

<div>
	<h2>Links to Third-Party Sites</h2>

	<p>This Site may include links to other websites (&quot;Linked Sites&quot;). These Linked Sites are not under our control, and we are not responsible for their content, including any updates or changes. We provide these links for your convenience and do not endorse the Linked Sites or their operators.</p>
</div>

<div>
	<h2>Prohibited Uses:</h2>

	<p>You agree not to use this Site for any unlawful or prohibited purpose. You may not:</p>
	<ul>
		<li>Damage, disable, overburden, or impair this Site.</li>
		<li>Interfere with others&#39; use and enjoyment of this Site.</li>
		<li>Attempt to obtain materials or information through unauthorized means.</li>
	</ul>

	<p>You further agree not to:</p>
	<ul>
		<li>Falsify or delete legal notices or proprietary designations.</li>
		<li>Violate any applicable code of conduct or guidelines.</li>
		<li>Collect information about others without their consent.</li>
	</ul>
</div>

<div>
	<h2>Liability Disclaimer</h2>

	<p>The information, software, products, and services on this Site may contain inaccuracies or typographical errors. Changes are periodically made to the information herein. We and our suppliers may improve or change this Site at any time. Do not rely on advice received via this Site for personal, medical, legal, or financial decisions; consult a professional for specific advice. All information, software, products, services, and related graphics are provided &quot;as is&quot; without warranty. We and our suppliers disclaim all warranties and liability for any damages resulting from your use of this Site.</p>
</div>

<div>
	<h2>Copyright and Trademarks</h2>

	<p>All trademarks are the property of their respective owners.</p>
</div>

<div>
	<h2>Contact Information</h2>

	<p>Mountain Mental Health 4516 South 700 East, Suite 370 Murray, Utah 84117 Phone: <a href="tel:385-994-9990" class="contactLinks">(385) 994-9990</a></p>
</div>