@page "/termsandconditions"
@page "/terms"
@layout MainLayout

<h1 id="tosTitle">Terms and Conditions (Terms of Service)</h1>
<code id="effective-date">Effective Date: November 20<sup>th</sup>, 2024</code>

<div>
	<p>By opting in to receive SMS messages from Mountain Mental Health (“we,” “us,” “our”), you agree to the following terms:</p>
</div>

<div>
	<ol>
		<li><strong>SMS Messaging Service</strong></li>
		By providing your phone number, you consent to receive SMS messages from Mountain Mental Health for appointment reminders, marketing messages, and general two-way communication.
		
		<li><strong>Message Frequency</strong></li>
		Message frequency varies.

		<li><strong>Message and Data Rates</strong></li>
		Message and data rates may apply based on your mobile carrier’s terms.

		<li><strong>Opt-Out Instructions</strong></li>
		You can opt-out at any time by replying “STOP”, or for support reply with “HELP” to any SMS message. You may also contact us directly at <a href="tel:385-449-9990">385-449-9990</a>.

		<li><strong>Privacy Policy</strong></li>
		Your information will be handled in accordance with our Privacy Policy, which can be viewed at www.mtnmentalhealth.com/privacy.

		<li><strong>Liability</strong></li>
		We are not responsible for any charges, errors, or delays in SMS delivery caused by your carrier or third-party service providers.
	</ol>

	<p> By opting in, you confirm that you are the owner or authorized user of the phone number provided and that you are at least 18 years old.</p>
</div>
